*.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.vs
src/AwsCdkPhoneVerifyApi/bin
src/AwsCdkPhoneVerifyApi/obj
src/AwsCdkPhoneVerifyApi.Tests/bin
src/AwsCdkPhoneVerifyApi.Tests/obj
